@use '../utilities/functions' as fn;

$-fluid-tokens: 2, 4, 8, 12, 16, 20, 24, 32, 40, 48, 56, 64, 72, 80;

.box {
  box-sizing: border-box;
  display: block;

  &--padding-0 {
    padding: 0;
  }

  @each $n in $-fluid-tokens {
    &--padding-#{$n} {
      padding: fn.fluid($n);
    }
  }

  &--overflow-hidden {
    overflow: hidden;
  }

  &--overflow-scroll {
    overflow: scroll;
  }

  &--overflow-auto {
    overflow: auto;
  }
}
