@use '../utilities/functions' as fn;

$-fluid-tokens: 2, 4, 8, 12, 16, 20, 24, 32, 40, 48, 56, 64, 72, 80;

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  padding-left: fn.fluid(32);
  padding-right: fn.fluid(32);
  margin-left: auto;
  margin-right: auto;

  &--xs {
    max-width: 480px;
  }

  &--sm {
    max-width: 768px;
  }

  &--md {
    max-width: 1024px;
  }

  &--lg {
    max-width: 1280px;
  }

  &--xl {
    max-width: 1440px;
  }

  &--full {
    max-width: none;
  }

  &--no-center {
    margin-left: 0;
    margin-right: 0;
  }

  &--padding-0 {
    padding-left: 0;
    padding-right: 0;
  }

  @each $n in $-fluid-tokens {
    &--padding-#{$n} {
      padding-left: fn.fluid($n);
      padding-right: fn.fluid($n);
    }
  }
}
