@use '../utilities/functions' as fn;

$-fluid-tokens: 2, 4, 8, 12, 16, 20, 24, 32, 40, 48, 56, 64, 72, 80;

.grid {
  display: grid;
  gap: fn.fluid(16);
  align-items: stretch;

  &--gap-0 {
    gap: 0;
  }

  @each $n in $-fluid-tokens {
    &--gap-#{$n} {
      gap: fn.fluid($n);
    }
  }
}

.grid-item {
  display: block;
}
