@use '../utilities/functions' as fn;

$-fluid-tokens: 2, 4, 8, 12, 16, 20, 24, 32, 40, 48, 56, 64, 72, 80;

.inline {
  display: flex;
  flex-wrap: wrap;
  gap: fn.fluid(8);
  align-items: center;
  justify-content: flex-start;

  &--gap-0 {
    gap: 0;
  }

  @each $n in $-fluid-tokens {
    &--gap-#{$n} {
      gap: fn.fluid($n);
    }
  }

  &--nowrap {
    flex-wrap: nowrap;
  }

  &--wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  &--align-start {
    align-items: flex-start;
  }

  &--align-end {
    align-items: flex-end;
  }

  &--align-center {
    align-items: center;
  }

  &--align-stretch {
    align-items: stretch;
  }

  &--align-baseline {
    align-items: baseline;
  }

  &--justify-start {
    justify-content: flex-start;
  }

  &--justify-end {
    justify-content: flex-end;
  }

  &--justify-center {
    justify-content: center;
  }

  &--justify-between {
    justify-content: space-between;
  }

  &--justify-around {
    justify-content: space-around;
  }

  &--justify-evenly {
    justify-content: space-evenly;
  }
}
