@use '../utilities/functions' as fn;

.inline {
  display: flex;
  flex-wrap: wrap;
  gap: fn.fluid(8);
  align-items: center;
  justify-content: flex-start;

  &--gap-none {
    gap: 0;
  }

  &--gap-xs {
    gap: fn.fluid(4);
  }

  &--gap-sm {
    gap: fn.fluid(8);
  }

  &--gap-md {
    gap: fn.fluid(16);
  }

  &--gap-lg {
    gap: fn.fluid(24);
  }

  &--gap-xl {
    gap: fn.fluid(32);
  }

  &--gap-2xl {
    gap: fn.fluid(48);
  }

  &--nowrap {
    flex-wrap: nowrap;
  }

  &--wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  &--align-start {
    align-items: flex-start;
  }

  &--align-end {
    align-items: flex-end;
  }

  &--align-center {
    align-items: center;
  }

  &--align-stretch {
    align-items: stretch;
  }

  &--align-baseline {
    align-items: baseline;
  }

  &--justify-start {
    justify-content: flex-start;
  }

  &--justify-end {
    justify-content: flex-end;
  }

  &--justify-center {
    justify-content: center;
  }

  &--justify-between {
    justify-content: space-between;
  }

  &--justify-around {
    justify-content: space-around;
  }

  &--justify-evenly {
    justify-content: space-evenly;
  }
}
