@use '../utilities/functions' as fn;

$-fluid-tokens: 2, 4, 8, 12, 16, 20, 24, 32, 40, 48, 56, 64, 72, 80;

.sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: fn.fluid(24);
  align-items: stretch;

  &--end {
    flex-direction: row-reverse;
  }

  &__side {
    flex: 0 0 240px;
  }

  &__content {
    flex: 1 1 50%;
    min-width: 50%;
  }

  &--gap-0 {
    gap: 0;
  }

  @each $n in $-fluid-tokens {
    &--gap-#{$n} {
      gap: fn.fluid($n);
    }
  }
}
