@use '../utilities/functions' as fn;

$-fluid-tokens: 2, 4, 8, 12, 16, 20, 24, 32, 40, 48, 56, 64, 72, 80;

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: fn.fluid(16);

  > * {
    flex-basis: calc((320px - 100%) * 999);
    flex-grow: 1;
  }

  &--gap-0 {
    gap: 0;
  }

  @each $n in $-fluid-tokens {
    &--gap-#{$n} {
      gap: fn.fluid($n);
    }
  }
}
